/* materialpalette.com/brown/red */
    .dark-primary-color    { background: #5D4037; }
    .default-primary-color { background: #795548; }
    .light-primary-color   { background: #D7CCC8; }
    .text-primary-color    { color: #FFFFFF; }
    .accent-color          { background: #FF5252; }
    .primary-text-color    { color: #212121; }
    .secondary-text-color  { color: #727272; }
    .divider-color         { border-color: #B6B6B6; }

/* --------------- Common --------------- */
    html, body { background-color: #efebe9; }
    .display-none { display: none; }
    .divider-theme { background-color: #B6B6B6; }
    .divider-dark { background-color: #333; }
    .cursor-pointer { cursor: pointer; }
/* --------------- / Common --------------- */

/* --------------- Typography --------------- */
    .tx-uppercase { text-transform: uppercase; }
    .tx-underlined { text-decoration: underline; }
    .tx-italic { font-style: italic; }
    /* size */
        .tx-xxs { font-size: 10px; }
        .tx-xs { font-size: 12px; }
        .tx-sm { font-size: 14px; }
        .tx-md { font-size: 18px; }
        .tx-lg { font-size: 22px; }
        .tx-xl { font-size: 28px; }
        .tx-xxl { font-size: 32px; }
    /* thickness */
        .tx-thin { font-weight: 100; }
        .tx-light { font-weight: 200; }
        .tx-lighter { font-weight: 300; }
        .tx-bold { font-weight: 500; }
        .tx-bolder { font-weight: 700; }
        .tx-spacing { letter-spacing: 0.2em; }
        .tx-spacing-light { letter-spacing: 0.05em; }
        .tx-spacing-lighter { letter-spacing: 0.02em; }
/* --------------- / Typography --------------- */

/* --------------- Margins and Padding --------------- */
    /* left */
    .ml0 { margin-left: 0px; }
    .ml10 { margin-left: 10px; }
    /* right */
    .mr0 { margin-right: 0px; }
    /* top */
    .mt0 { margin-top: 0px; }
    .mt5 { margin-top: 5px; }
    .mt10 { margin-top: 10px; }
    .mt20 { margin-top: 20px; }
    .mt30 { margin-top: 30px; }
    .mt15p { margin-top: 15%; }
    /* bottom */
    .mb0 { margin-bottom: 0px; }
    .mb5 { margin-bottom: 5px; }
    .mb10 { margin-bottom: 10px; }
    /* all */
    .m0 { margin: 0px; }
    .p0 { padding: 0px; }
/* --------------- / Margins and Padding --------------- */

/* --------------- Content --------------- */
    /* content split vertically */
        .content-split-vertically {
            margin: 0px;
        }
        .content-split-vertically .col-50 {
            padding: 0px;
            height: 50%;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .content-split-vertically .col-40 {
            padding: 0px;
            height: 40%;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .content-split-vertically .col-10 {
            padding: 0px;
            height: 10%;
            overflow-x: hidden;
            overflow-y: auto;
        }
    /* vertical align */
        .vertical-align {
            display: table;
            height: 100%;
            width: 100%;
            margin: 0px !important;
        }
        .vertical-align .vertical-align-child {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
/* --------------- / Content --------------- */

/* --------------- App Header --------------- */
    #app-header {
        clear: both;
        height: 50px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 998;
    }
    #app-header nav .brand-logo {
        font-size: 18px;
        height: 50px;
        line-height: 52px;
    }
    #app-header nav, #app-header nav .button-collapse {
        height: 50px;
        line-height: 52px;
    }
    #app-header nav .button-collapse i, #app-header nav .button-actions i  {
        font-size: 30px;
        line-height: 52px;
        height: 50px;
    }
    #app-header nav .button-actions {
        position: relative;
        z-index: 1;
        float: right;
    }
/* --------------- / App Header --------------- */

/* --------------- App Content --------------- */
    #app-content {
        bottom: 75px;
        clear: both;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 50px;
        z-index: 996;
        padding: 15px 0px;
    }
    #app-content .container {
        height: 100%;
    }
    #app-content .common-loading {
        text-align: center;
    }
    /* map */
        #app-content .map {
            height: 100%;
        }
    /* fullscreen slider */
        #app-content .slider.fullscreen {
            text-shadow: 0px 1px 1px #666;
        }
        #app-content .slider.fullscreen .btn {
            text-shadow: none;
        }
/* --------------- / App Content --------------- */

/* --------------- App Footer --------------- */
    #app-footer {
        clear: both;
        height: 75px;
        left: 0;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 997;
    }
    /* footer icons */
        #app-footer .footer-icons {
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: #fff;
            margin: 0px;
            border-top: 2px solid #5D4037;
            box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
        #app-footer .footer-icons .col {
            padding: 0px;
        }
        #app-footer .footer-icons .col a {
            color: #5D4037;
            display: block;
            padding: 10px 0px;
            text-transform: uppercase;
            font-size: 12px;
        }
        #app-footer .footer-icons .col a.active {
            color: #FF5252;
        }
        #app-footer .footer-icons .col a i {
            font-size: 31px;
        }
        #app-footer .footer-icons a p {
            margin: 0px;
        }
/* --------------- / App Footer --------------- */


/* --------------- App Game Content --------------- */
    #app-game-content {
        bottom: 0px;
        clear: both;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0px;
        z-index: 996;
        background-color: #292929;
        background-image: url('/images/background.jpg');
        background-size: 100% 100%;
        color: #ffffff;
        border: 5px solid #000;
        padding: 0px;
    }
    #app-game-content .container-fluid {
        height: 100%;
    }
    #app-game-content .btn {
        border-radius: 18px;
    }
    #app-game-content .collection {
        border: 1px solid #000;
    }
    #app-game-content .collection .collection-item {
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid #000000;
    }
    #app-game-content .collection .collection-item:last-child {
        border-bottom: none;
    }
    #app-game-content .collection .collection-item.avatar {
        min-height: auto;
    }
/* --------------- / App Game Content --------------- */

/* --------------- MaterialzeCSS Overrides --------------- */
    form .row { margin-top: 0px; margin-bottom: 0px }
    .slider .indicators .indicator-item.active { background-color: #FF5252; }
    .btn-block { display: block!important; width: 100%; }
    .input-field label, .input-field label.active, .select-wrapper + label { font-size: 1rem; }
    input[type="range"], input[type="range"]:focus { border: none; outline: none; }
    .collection .collection-item .title { font-size: 16px; }
    button .preloader-wrapper.small { margin-top: 9px; }
    .row .col.offset-s2 { margin-left: 16.6667% !important; }
    .camera-popup { overflow: hidden; }
    .camera-popup img { width: 100% !important; }
    .rounded {
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    .rounded img {
        display: block;
        /* Stretch
              height: 100%;
              width: 100%; */
        min-width: 100%;
        min-height: 100%;
    }
/* --------------- / MaterialzeCSS Overrides --------------- */

/* --------------- Responsive --------------- */
    @media(max-width: 600px) {
        .brand-logo .material-icons {
            padding: 14px 0px
        }
    }
/* --------------- / Responsive --------------- */