<template name="pagesGoodbye">

    <!-- Page Content -->
    <div class="container-fluid display-none animate-fade-in content-split-vertically">
        <!-- Players List -->
        <div class="col s12 vertical-align">
            <div class="clearfix vertical-align-child center-align">
                <p>
                    <img src="/images/logo.png" class="circle" style="width: 250px; height: 250px;"/>
                </p>
                <h1 class="tx-light tx-uppercase white-text">"Good Bye, Coward"</h1>
            </div>
        </div>
    </div>
</template>