<template name="pagesHome">

<!-- Header -->
    <!-- Left -->
    {{#contentFor "headerLeft"}}
        {{> commonHeaderSideMenu }}
    {{/contentFor}}

    <!-- Center -->
    {{#contentFor "headerCenter"}}
        <a id="logo-container" href="{{ pathFor route='home' }}" class="brand-logo tx-uppercase tx-lighter">
            Mafia!
        </a>
    {{/contentFor}}

    <!-- Right -->
    {{#contentFor "headerRight"}}
        <a href="#" class="button-actions waves-effect waves-light">
            <i class="material-icons">navigate_next</i>
        </a>
    {{/contentFor}}

<!-- Page Content -->
    <div class="container display-none animate-fade-in">
        <div class="row vertical-align">
            <div class="col s12 vertical-align-child">
                <form>
                    <div class="row">
                        <p class="col s12 center-align" style="font-size: 5.5rem; line-height: 5.5rem; margin: 0px 0px 20px 0px" id="game_range_text">
                            6
                        </p>
                        <div class="input-field col s12">
                            <p class="range-field">
                                <input type="range" id="game_range" min="6" max="18" value="6"/>
                            </p>
                            <label for="range" class="active">Number of players</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <select id="game_money">
                                <option value="0" selected="selected">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <label>Money match?</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <a class="waves-effect waves-light btn-large btn-block red accent-2">Create <i class="material-icons right">navigate_next</i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>