<template name="pagesPlay">

<!-- Header -->
    <!-- Left -->
    {{#contentFor "headerLeft"}}
        {{> commonHeaderSideMenu }}
    {{/contentFor}}

    <!-- Center -->
    {{#contentFor "headerCenter"}}
        <a id="logo-container" href="{{ pathFor route='play' gameId=game._id }}" class="brand-logo tx-uppercase tx-lighter">
            Play
        </a>
    {{/contentFor}}

    <!-- Right -->
    {{#contentFor "headerRight"}}
        <a href="{{ pathFor route='contact' }}" class="button-actions waves-effect waves-light">
            <i class="material-icons">email</i>
        </a>
    {{/contentFor}}

<!-- Page Content -->
    <div class="container display-none animate-fade-in">
        <div class="row">
            <div class="col s12">
                <h5 class="header light m0">{{ game.by.name }}</h5>
                <p>{{ game.secretCityCode }}</p>
            </div>
        </div>
    </div>

</template>