<template name="pagesSplash">

    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <img src="/images/background.jpg" />
                <div class="caption center-align">
                    <p>
                        <img src="/images/logo.png" class="circle responsive-img" style="max-width: 225px;"/>
                    </p>
                    <h1 class="mt10 mb5 tx-xxxl">Mafia!</h1>
                    <p class="light grey-text text-lighten-3 mt5 mb10 tx-lg">The party game!</p>
                    <div class="row center mt10">
                        <button type="button" class="btn waves-effect waves-light red accent-2 splash-start">Start <i class="material-icons right m0">navigate_next</i></button>
                    </div>
                </div>
            </li>
            <li>
                <img src="/images/background.jpg" />
                <div class="caption left-align">
                    <h1 class="mt10 mb5 tx-xxxl">The Mafia</h1>
                    <p class="light grey-text text-lighten-3 mt5 mb10 tx-md">Only thing mafia knows is to kill all the citizens one by one!</p>
                    <button type="button" class="btn waves-effect waves-light red accent-2 splash-start">Eliminate <i class="material-icons right m0">navigate_next</i></button>
                </div>
            </li>
            <li>
                <img src="/images/background.jpg" />
                <div class="caption left-align">
                    <h1 class="mt10 mb5 tx-xxxl">The Detective</h1>
                    <p class="light grey-text text-lighten-3 mt5 mb10 tx-md">Detective must guess who is the mafia, otherwise there will be blood.</p>
                    <button type="button" class="btn waves-effect waves-light red accent-2 splash-start">Investigate <i class="material-icons right m0">navigate_next</i></button>
                </div>
            </li>
            <li>
                <img src="/images/background.jpg" />
                <div class="caption left-align">
                    <h1 class="mt10 mb5 tx-xxxl">The Doctor</h1>
                    <p class="light grey-text text-lighten-3 mt5 mb10 tx-md">Only the doctor can save common people's life and its own.</p>
                    <button type="button" class="btn waves-effect waves-light red accent-2 splash-start">Save <i class="material-icons right m0">navigate_next</i></button>
                </div>
            </li>
            <li>
                <img src="/images/background.jpg" />
                <div class="caption left-align">
                    <h1 class="mt10 mb5 tx-xxxl">The Citizens</h1>
                    <p class="light grey-text text-lighten-3 mt5 mb10 tx-md">Save your city. You need to be smart and eliminate the mafia as soon as possible.</p>
                    <button type="button" class="btn waves-effect waves-light red accent-2 splash-start">Discuss <i class="material-icons right m0">navigate_next</i></button>
                </div>
            </li>
        </ul>
    </div>

</template>