<template name="commonFooter">

    <div class="row footer-icons center-align">
        <div class="col s3">
            <a href="{{ pathFor route='home' }}" class="{{isActiveRoute 'home'}} waves-effect waves-red">
                <i class="material-icons small">add_circle</i>
                <p class="mt0">Create</p>
            </a>
        </div>
        <div class="col s3">
            <a href="{{ pathFor route='join' }}" class="{{isActiveRoute 'join'}} waves-effect waves-red">
                <i class="material-icons small">group_add</i>
                <p class="mt0">Join</p>
            </a>
        </div>
        <div class="col s3">
            <a href="{{ pathFor route='how' }}" class="{{isActiveRoute 'how'}} waves-effect waves-red">
                <i class="material-icons small">help</i>
                <p class="mt0">How to play</p>
            </a>
        </div>
        <div class="col s3">
            <a href="{{ pathFor route='profile' }}" class="{{isActiveRoute 'profile'}} waves-effect waves-red">
                <i class="material-icons small">face</i>
                <p class="mt0">Profile</p>
            </a>
        </div>
    </div>

</template>